In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("pv2.csv",delimiter=';')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa1 in position 261947: invalid start byte

In [21]:
df=pd.read_csv('pv.csv', delimiter=';', header=None)
#df=pd.read_csv('pv.csv', delimiter=';', usecols=[0,1,2,3,4], names=["est", "x", "y", "z", "des"], header=None)
#df.dropna(inplace=True, axis=0)
df

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,4A,VCR 729,2.0X2.0,0,0.00,0%,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0%,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0.00,0%,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,106%,3.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12.00,30%,3.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dfx = df.iloc[[3]]
dfx.dropna(inplace=True, axis=1)
dfx

/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,0,1,2,3,4,5,6,11,15,17,19,22,24,28
3,12A,BP 595 NE,4.0X3.5,20,21.18,106%,3.03,2.1,3.0,3.0,3.0,3.39,3.34,3.35

In [55]:
a = dfx.values.tolist()[0][7:]
a

[2.1, 3.0, 3.0, 3.0, 3.39, 3.34, 3.35]

In [54]:
b = dfx.columns.tolist()[7:]
b

[11, 15, 17, 19, 22, 24, 28]

In [58]:
list(zip(b,a))

[(11, 2.1),
 (15, 3.0),
 (17, 3.0),
 (19, 3.0),
 (22, 3.39),
 (24, 3.34),
 (28, 3.35)]

In [34]:
dfx.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 11, 15, 17, 19, 22, 24, 28], dtype='int64')

In [35]:
for (columnName, columnData) in dfx.iteritems():
    print('Column Name : ', columnName)
    print('Column Contents : ', columnData.values)

Column Name :  0
Column Contents :  ['12A']
Column Name :  1
Column Contents :  ['BP 595 NE']
Column Name :  2
Column Contents :  ['4.0X3.5']
Column Name :  3
Column Contents :  ['20']
Column Name :  4
Column Contents :  [21.18]
Column Name :  5
Column Contents :  ['106%']
Column Name :  6
Column Contents :  [3.03]
Column Name :  11
Column Contents :  [2.1]
Column Name :  15
Column Contents :  [3.]
Column Name :  17
Column Contents :  [3.]
Column Name :  19
Column Contents :  [3.]
Column Name :  22
Column Contents :  [3.39]
Column Name :  24
Column Contents :  [3.34]
Column Name :  28
Column Contents :  [3.35]

In [10]:
df

     est           x        y         z    des
0     4A     VCR 729  2.0X2.0         0   0.00
1    8A1  RP+ 602 NE  4.5X4.0  APERTURA   3.72
2     9B   GL 682 NE  4.0X4.0         0   0.00
3    12A   BP 595 NE  4.0X3.5        20  21.18
4    12A   GL 574 NE  4.0X3.5        40  12.00
..   ...         ...      ...       ...    ...
132  NaN         NaN      NaN       NaN    NaN
133  NaN         NaN      NaN       NaN    NaN
134  NaN         NaN      NaN       NaN    NaN
135  NaN         NaN      NaN       NaN    NaN
136  NaN         NaN      NaN       NaN    NaN

[137 rows x 5 columns]

In [115]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [130]:
import pandas as pd
import numpy as np

In [131]:
df=pd.read_excel('EFICIENCIA MARZO TOPOGRAFÍA - 2022.xlsx', sheet_name='EFICIENCIA FEBRERO')
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df

/opt/conda/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-20 00:00:00,NaN,2022-02-21 00:00:00,...,2022-03-18 00:00:00,NaN,2022-03-19 00:00:00,NaN,2022-03-20 00:00:00,NaN,2022-03-21 00:00:00,NaN,2022-03-22 00:00:00,NaN
1,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,D,N,D,...,D,N,D,N,D,N,D,N,D,N
2,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Avance por guardia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,Eficiencia por dia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Numero de disparos ejecutados,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,Avance por dia Zona Cuerpos,NaN,NaN,NaN,NaN,NaN,NaN,6.29,17.66,17.44,...,0,0,0,0,0,0,0,0,0,0
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.95,NaN,35.69,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [132]:
#Row 0
r0=[]
for i in df.iloc[0][7:]:
    if i is np.nan:
        #print(True)
        r0.append(True)
    else:
        r0.append(i.strftime("%d/%m/%Y"))
        #print(i.strftime("%d/%m/%Y"))

for i in range(len(r0)):
    if r0[i] is True:
        r0[i]=str(r0[i-1])
    else:
        r0[i]=str(r0[i])

r0=['']*7+r0

#Row 1
r1=df.iloc[1].tolist()

#New row
rx=[]
for i,j in zip(r0,r1):
    #print(f'{i} {j}'.strip())
    rx.append(f'{i} {j}'.strip())

rx

['NIVEL',
 'LABOR',
 'SECCION',
 'PROG.',
 'AVANCE ACUM.',
 'CUMP.%',
 'EFICIENCIA',
 '20/02/2022 D',
 '20/02/2022 N',
 '21/02/2022 D',
 '21/02/2022 N',
 '22/02/2022 D',
 '22/02/2022 N',
 '23/02/2022 D',
 '23/02/2022 N',
 '24/02/2022 D',
 '24/02/2022 N',
 '25/02/2022 D',
 '25/02/2022 N',
 '26/02/2022 D',
 '26/02/2022 N',
 '27/02/2022 D',
 '27/02/2022 N',
 '28/02/2022 D',
 '28/02/2022 N',
 '01/03/2022 D',
 '01/03/2022 N',
 '02/03/2022 D',
 '02/03/2022 N',
 '03/03/2022 D',
 '03/03/2022 N',
 '04/03/2022 D',
 '04/03/2022 N',
 '05/03/2022 D',
 '05/03/2022 N',
 '06/03/2022 D',
 '06/03/2022 N',
 '07/03/2022 D',
 '07/03/2022 N',
 '08/03/2022 D',
 '08/03/2022 N',
 '09/03/2022 D',
 '09/03/2022 N',
 '10/03/2022 D',
 '10/03/2022 N',
 '11/03/2022 D',
 '11/03/2022 N',
 '12/03/2022 D',
 '12/03/2022 N',
 '13/03/2022 D',
 '13/03/2022 N',
 '14/03/2022 D',
 '14/03/2022 N',
 '15/03/2022 D',
 '15/03/2022 N',
 '16/03/2022 D',
 '16/03/2022 N',
 '17/03/2022 D',
 '17/03/2022 N',
 '18/03/2022 D',
 '18/03/2022 N',
 '19/03/2022 D',
 '19/03/2022 N',
 '20/03/2022 D',
 '20/03/2022 N',
 '21/03/2022 D',
 '21/03/2022 N',
 '22/03/2022 D',
 '22/03/2022 N']

In [133]:
df.set_axis(rx, axis=1, inplace=True)
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,20/02/2022 D,20/02/2022 N,21/02/2022 D,...,18/03/2022 D,18/03/2022 N,19/03/2022 D,19/03/2022 N,20/03/2022 D,20/03/2022 N,21/03/2022 D,21/03/2022 N,22/03/2022 D,22/03/2022 N
0,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12,0.3,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Avance por guardia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,Eficiencia por dia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Numero de disparos ejecutados,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,Avance por dia Zona Cuerpos,NaN,NaN,NaN,NaN,NaN,NaN,6.29,17.66,17.44,...,0,0,0,0,0,0,0,0,0,0
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.95,NaN,35.69,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [134]:
df['NIVEL']

0                                  4A
1                                 8A1
2                                  9B
3                                 12A
4                                 12A
                    ...
161    Avance por guardia Zona Nv. 21
162    Eficiencia por dia Zona Nv. 21
163     Numero de disparos ejecutados
164       Avance por dia Zona Cuerpos
165                               NaN
Name: NIVEL, Length: 166, dtype: object