In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('EFICIENCIA MARZO TOPOGRAFÍA - 2022.xlsx', sheet_name='EFICIENCIA FEBRERO')
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df

/opt/conda/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-20 00:00:00,NaN,2022-02-21 00:00:00,...,2022-03-18 00:00:00,NaN,2022-03-19 00:00:00,NaN,2022-03-20 00:00:00,NaN,2022-03-21 00:00:00,NaN,2022-03-22 00:00:00,NaN
1,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,D,N,D,...,D,N,D,N,D,N,D,N,D,N
2,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Avance por guardia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,Eficiencia por dia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Numero de disparos ejecutados,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,Avance por dia Zona Cuerpos,NaN,NaN,NaN,NaN,NaN,NaN,6.29,17.66,17.44,...,0,0,0,0,0,0,0,0,0,0
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.95,NaN,35.69,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [4]:
#Row 0
r0=[]
for i in df.iloc[0][7:]:
    if i is np.nan:
        #print(True)
        r0.append(True)
    else:
        r0.append(i.strftime("%d/%m/%Y"))
        #print(i.strftime("%d/%m/%Y"))

for i in range(len(r0)):
    if r0[i] is True:
        r0[i]=str(r0[i-1])
    else:
        r0[i]=str(r0[i])

r0=['']*7+r0

#Row 1
r1=df.iloc[1].tolist()

#New row
rx=[]
for i,j in zip(r0,r1):
    #print(f'{i} {j}'.strip())
    rx.append(f'{i} {j}'.strip())

#rx

In [5]:
df.set_axis(rx, axis=1, inplace=True)
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,20/02/2022 D,20/02/2022 N,21/02/2022 D,...,18/03/2022 D,18/03/2022 N,19/03/2022 D,19/03/2022 N,20/03/2022 D,20/03/2022 N,21/03/2022 D,21/03/2022 N,22/03/2022 D,22/03/2022 N
0,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12,0.3,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Avance por guardia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,Eficiencia por dia Zona Nv. 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Numero de disparos ejecutados,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,Avance por dia Zona Cuerpos,NaN,NaN,NaN,NaN,NaN,NaN,6.29,17.66,17.44,...,0,0,0,0,0,0,0,0,0,0
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.95,NaN,35.69,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [6]:
# Cleaning data
df.dropna(axis='index',how='any',subset=['NIVEL', 'LABOR'],inplace=True)
df.shape

(137, 69)

In [7]:
# Change data type
df = df.astype({"NIVEL": str})

# delete unnecesary rowns
ur=[]
for index, row in df.iterrows():
    if len(row['NIVEL'])>4:
        print(row['NIVEL'], index)
        ur.append(index)
df.drop(ur, inplace=True)
df.reset_index(drop=True, inplace=True)

In [8]:
df

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,20/02/2022 D,20/02/2022 N,21/02/2022 D,...,18/03/2022 D,18/03/2022 N,19/03/2022 D,19/03/2022 N,20/03/2022 D,20/03/2022 N,21/03/2022 D,21/03/2022 N,22/03/2022 D,22/03/2022 N
0,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12,0.3,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,23A,REF 48,1.5X2.0,1,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,23A,RP (-13%) 565 SW,3.5X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,23A,RP (-15%) 500 SW,4.0X4.0,15,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,23A,VCR 600,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,23A,XC 520 NW,4.5X4.0,20,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.iloc[[3]].dropna(axis='columns',how='any')

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,22/02/2022 D,24/02/2022 D,25/02/2022 D,26/02/2022 D,27/02/2022 N,28/02/2022 N,02/03/2022 N
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,2.1,3,3,3,3.39,3.34,3.35

In [10]:
df.iloc[[134]].dropna(axis='columns',how='any')

    NIVEL             LABOR  SECCION PROG. AVANCE ACUM. CUMP.% EFICIENCIA
134   23A  RP (-15%) 500 SW  4.0X4.0    15            0      0          0

In [11]:
dfx=df.iloc[[3]].dropna(axis='columns',how='any')
dfx

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,22/02/2022 D,24/02/2022 D,25/02/2022 D,26/02/2022 D,27/02/2022 N,28/02/2022 N,02/03/2022 N
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,2.1,3,3,3,3.39,3.34,3.35

In [12]:
fecha = dfx.values.tolist()[0][7:]
avance = dfx.columns.tolist()[7:]
if len(avance)==0:
    print('empty')
else:
    nivel=[dfx['NIVEL'].iloc[0]]*len(avance)
    labor=[dfx['LABOR'].iloc[0]]*len(avance)
    avances=list(zip(nivel,labor,fecha,avance))
    print(avance)

['22/02/2022 D', '24/02/2022 D', '25/02/2022 D', '26/02/2022 D', '27/02/2022 N', '28/02/2022 N', '02/03/2022 N']

In [13]:
#FECHA - TURNO - GUARDIA - NIVEL - LABOR - SECCION - SUBZONA - AV.PROGRAMADO - AVANCE REAL - TIPO DE DISPARO

In [14]:
dfx['NIVEL'].iloc[0]

'12A'

In [15]:
df_avances=pd.DataFrame(data=avances, columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])
df_avances

  NIVEL      LABOR  AVANCE         FECHA
0   12A  BP 595 NE    2.10  22/02/2022 D
1   12A  BP 595 NE    3.00  24/02/2022 D
2   12A  BP 595 NE    3.00  25/02/2022 D
3   12A  BP 595 NE    3.00  26/02/2022 D
4   12A  BP 595 NE    3.39  27/02/2022 N
5   12A  BP 595 NE    3.34  28/02/2022 N
6   12A  BP 595 NE    3.35  02/03/2022 N

## **Implementation**

In [16]:
df_avances=pd.DataFrame(columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])

for i in range(df.shape[0]):
    dfx=df.iloc[[i]].dropna(axis='columns',how='any')
    
    fecha = dfx.values.tolist()[0][7:]
    avance = dfx.columns.tolist()[7:]
    if len(avance) > 0:
        nivel=[dfx['NIVEL'].iloc[0]]*len(avance)
        labor=[dfx['LABOR'].iloc[0]]*len(avance)
        avances=list(zip(nivel,labor,fecha,avance))
        dfx= pd.DataFrame(data=avances, columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])
        #print(dfx)
        df_avances = df_avances.append(dfx, ignore_index=True)
        #print(df_avances)

df_avances

    NIVEL             LABOR  AVANCE         FECHA
0     8A1        RP+ 602 NE    3.72  23/02/2022 N
1     12A         BP 595 NE    2.10  22/02/2022 D
2     12A         BP 595 NE    3.00  24/02/2022 D
3     12A         BP 595 NE    3.00  25/02/2022 D
4     12A         BP 595 NE    3.00  26/02/2022 D
..    ...               ...     ...           ...
122   20A         GL 159 SW    3.50  26/02/2022 D
123   20A        CAM 089 SW    1.80  27/02/2022 D
124    21  RP (-13%) 400 NW    3.30  23/02/2022 N
125    21  RP (-13%) 400 NW    3.30  24/02/2022 N
126    21  RP (-13%) 400 NW    3.40  25/02/2022 N

[127 rows x 4 columns]

In [17]:
df_avances.to_csv('pv.csv', index=False)